# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
*.egg
pip-wheel-metadata/

# Virtual environments
venv/
env/
ENV/
.venv/

# Environment variables
.env
.env.*

# Logs
*.log

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# IDEs
.vscode/
.idea/

# Mac
.DS_Store

# Python version
.python-version

# mypy
.mypy_cache/

# Pyre
.pyre/

# Temporary files
*.swp
*.tmp
